1. AUTENTICAÇÃO
URL GERAÇÃO DE TOKEN
https://wsnv.novavidati.com.br/WSLocalizador.asmx/GerarToken
Os dados da credencial do usuário, Senha e Cliente deverão estar convertidos na BASE64.
Host: wsnv.novavidati.com.br
Content-Type: text/xml; charset=utf-8
Content-Length: length
SOAPAction: "http://tempuri.org/GerarToken"
BODY
<?xml version="1.0" encoding="utf-8"?>
<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
<soap:Body>
<GerarToken xmlns="http://tempuri.org/">
<usuario>mundialeditora</usuario>
<senha>STR@new</senha>
<cliente>MUNDIALEDITORA</cliente>
</GerarToken>
</soap:Body>
</soap:Envelope> 
